:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --acent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-text-color: #2f303a;
  --color-footer-link: rgba(255, 255, 255, 0.6);
  --secondary-bgc: #f5f4fa;
}
body {
  color: var(--primery-text-color);
  background: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  }

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/********NAV*********/
.main-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.site-nav {
  display: flex;
  align-items: center;
  margin-left: 93px;
}
.contacts-nav-item:not(:last-child),
.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav-link.current {
  color: var(--acent-color);
}
.contacts-nav {
  display: flex;
  margin-left: auto;
}
.contacts-nav-link {
  color: var(--primery-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav-link:hover,
.site-nav-link:focus,
.contacts-nav-link:hover,
.contacts-nav-link:focus,
.list-address:hover,
.list-address:focus,
.footer-link:hover,
.footer-link:focus {
  color: var(--acent-color);
}

/*logo*/

.logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-footer {
  color: var(--primary-white-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-web {
  color: var(--acent-color);
}
/*********Hero*******/
.hero {
  background-color: var(--secondary-text-color);
  text-align: center;
}
.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 30px;
}

/*button*/

.button {
  color: var(--title-text-color);
  background-color: var(--primary-white-color);
}
.hero-button {
  color: var(--primary-white-color);
  background-color: var(--acent-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  text-align: center;
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  border-radius: 4px;
}

.button-services {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background: #f5f4fa;
  letter-spacing: 0.03em;

  display: inline-block;
  padding: 6px 22px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid transparent;
}
.button-services:hover,
.button-services:focus {
  color: var(--primary-white-color);
  background-color: var(--acent-color);
}

/*section*/

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 50px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.no-padding-top {
  padding-top: 0;
}
.section.even:nth-child(even) {
  background-color: var(--secondary-bgc);
}
/******feature******/
.feature {
  display: flex;
  flex-wrap: wrap;
  }
.feature-item:not(:last-child) {
  margin-right: 30px;
}
.feature-item {
  width: 270px;
  }
.feature p {
  margin-top: 0;
  margin-bottom: 0;
}
.feature-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 10px;
}
/******work********/

.work-list {
  display: flex;
    margin: -15px;
}
.work-item {
  margin: 15px;
}

/*******team*******/
.team-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 30px;
}
.team {
  display: flex;
    }

.team-item {
  background-color: var(--primary-white-color);
  margin-right: 30px;
}

.team-item :nth-child(4n){
  margin-right: 0;
}
.team-name {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  }
/*******footer*******/
.list-address {
  color: var(--primary-white-color);
  text-decoration: none;
  font-style: normal;
}
.footer-link {
  color: var(--color-footer-link);
  text-decoration: none;
  font-style: normal;
}
footer {
  background-color: var(--secondary-text-color);
}

/******portfolio******/
.projects {
  display: flex;
  flex-wrap: wrap;
}
.projects-name {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
}
.projects-link {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  }

.projects-item {
  width: 370px;
  margin-right: 30px;
}

.projects-item:nth-child(3n) {
  margin-right: 0;
}
.projects-service {
  font-size: 16px;
  line-height: 1.9;
  color: var(--primery-text-color);
  margin-top: 0;
  margin-bottom: 20px;
}
.services {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.services-item:not(:last-child) {
  margin-right: 8px;